---
layout: base
name: home
---

<main class="content content--landing">
    <div class="content__box content__box--flat-top">
        {% for post in site.posts %}
            <h2 class="title title--thin title--flat">

                <a
                    {% if post.external %}
                        class="title__link link--external"
                        href="{{ post.external_url }}"
                        title="Opens in a new window"
                        target="_blank"
                    {% else %}
                        class="title__link"
                        href="{{ post.url }}"
                    {% endif %}
                    ><!--
                 --><span class="title__label">{% if post.x_post %}X-post: {% endif %}{{ post.title }}</span><!--
                    {% if post.external %}
                     --><span class="link__icon"></span><!--
                    {% endif %}
                 --><small class="title__sub">{{ post.date | date: "%B&nbsp;%d,&nbsp;%Y" }}</small>
             </a>

            </h2>
        {% endfor %}
    </div>
</main>

