<!doctype html>

<html lang="en" class="{% if page.name == "home" %}colorize{% endif %}">


    <meta charset="utf-8">

    <meta name="author" content="Amsul - {{ site.url }}">
    <meta name="copyright" content="&copy; Amsul">

    <meta name="description" content="{{ site.tagline }}">
    <meta name="keywords" content="Amsul">

    <meta name="viewport" content="width=device-width">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>Amsul{% if page.title %} / {{ page.title }}{% endif %}</title>


    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/css/style.css">


    <script src="/js/shiv.js"></script>



    <noscript>
        <section id="noscript">
            <div class="content--noscript">
                <h3>Dude, your JavaScript is disabled.</h3>
                <p>It&rsquo;s totally cool &ndash; your experience on this site won&rsquo;t change at all with it enabled. Well&hellip; that&rsquo;s of course except for this message.</p>
                <p>So in case you&rsquo;re wondering how to switch it back on, <a target="_blank" href="http://www.enable-javascript.com">here&rsquo;s what to do.</a></p>
            </div>
        </section>
    </noscript>


    {% unless page.empty_page %}

        <div class="menu">
            <nav class="menu__nav" id="menu">
                <ul class="list--plain">
                    <li class="list__item"><a class="list__link--block" target="_blank" href="https://github.com/amsul?tab=repositories">my open source stuff</a></li><!--
                 --><li class="list__item"><a class="list__link--block" href="/me">me and my other stuff</a></li>
                </ul>
            </nav>
            <aside class="menu__toggler alignright">
                <a class="menu__opener button-cube" href="#menu"><span class="gui-icon gui-icon--down"></span></a>
                <a class="menu__closer button-cube" href="#"><span class="gui-icon gui-icon--up"></span></a>
            </aside>
        </div> <!-- .menu -->

    {% endunless %}


    <header class="header{% if page.name != "home" %}--colored{% endif %}">
        <div class="content">
            <div class="content__box--header">
                {% unless page.empty_page %}
                    {% if page.name != "home" %}
                        <h1 class="header__wrapper title--header title--thin"><a class="title--dimmed header__link" href="/">{{ site.tagline | truncatewords: 3 | remove: '...' }}</a></h1>
                    {% else %}
                        <h1 class="header__wrapper title--header">{{ site.tagline }}</h1>
                    {% endif %}
                {% endunless %}
                {% if page.title_block %}
                    <div class="header__title aligncenter">
                        {% if page.date %}
                            <p class="content__date title--dimmed">{{ page.date | date: "%B %d, %Y" }}</p>
                        {% endif %}
                        <h1 class="content__title">{{ page.title }}</h1>
                    </div>
                {% endif %}
            </div>
        </div>
    </header> <!-- .header -->


    {{ content }}


    {% unless page.empty_page %}

        <footer class="footer{% if page.name != "home" %} gui-flip{% endif %}">
            <div class="content">
                <div class="content__box aligncenter">
                    {% if page.name != "home" %}
                        <div><a class="button-block" href="/">Back to home</a></div>
                    {% endif %}
                    <ul class="list--plain list--inline">
                        <li class="list__item">
                            <a class="button-cube button-cube--dark" href="http://twitter.com/amsul_" target="_blank">
                                <span class="gui-icon gui-icon--twitter"></span>
                            </a>
                        </li><!--
                     --><li class="list__item">
                            <a class="button-cube button-cube--dark" href="http://github.com/amsul" target="_blank">
                                <span class="gui-icon gui-icon--github"></span>
                            </a>
                        </li><!--
                     --><li class="list__item">
                            <a class="button-cube button-cube--dark" href="mailto:reach@amsul.ca">
                                <span class="gui-icon gui-icon--email"></span>
                            </a>
                        </li>
                    </ul>
                    <p>&copy; 2011-{{ site.time | date: "%Y" }} Amsul</p>
                    <p class="embrace">Embrace the randomness.</p>
                </div>
            </div>
        </footer> <!-- .footer -->

    {% endunless %}


    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34739744-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


</html>


