<!doctype html>

<html lang="en">


    <meta charset="utf-8">

    <meta name="author" content="Amsul - {{ site.url }}">
    <meta name="copyright" content="&copy; Amsul">
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.tagline | strip_html | truncate: 160 }}{% endif %}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@amsul_">
    <meta name="twitter:domain" content="amsul.ca">
    <meta name="twitter:creator" content="@amsul_">
    {% if page.title %}
        {% if page.overview_page %}
            <meta name="twitter:title" content="{{ page.title }} / Amsul">
        {% else %}
            <meta name="twitter:title" content="{{ page.title_prefix }}{{ page.title }}{{ page.title_suffix }} / Amsul">
        {% endif %}
    {% else %}
        <meta name="twitter:title" content="Amsul">
    {% endif %}
    {% if page.meta %}
        <meta name="twitter:description" content="{{ page.meta }}">
    {% endif %}

    <meta name="viewport" content="width=device-width">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    {% if page.title %}
        {% if page.overview_page %}
            <title>{{ page.title }} / Amsul</title>
        {% else %}
            <title>{{ page.title_prefix }}{{ page.title }}{{ page.title_suffix }} / Amsul</title>
        {% endif %}
    {% else %}
        <title>Amsul</title>
    {% endif %}


    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,800italic,300,600,800">
    <link rel="stylesheet" href="/css/style.css">


    <script src="/js/shiv.js"></script>



    {% unless page.empty_page %}

        <div class="menu">
            <nav class="menu__nav" id="menu">
                <div class="content content--flat-bottom">
                    <a class="menu__button-close" href="#"></a>
                    <div class="content__box">
                        <h4 class="title--flat emphasize">Menu</h4>
                    </div>
                </div>
                <div class="content content-freeform content--pad-bottom">
                    <ul class="list--plain list--flat">
                        <li class="list__item">
                            <a class="link--block" href="/">
                                <div class="content">
                                    <div class="content__box content__box--pad-half">Home</div>
                                </div>
                            </a>
                        </li>
                        <li class="list__item">
                            <a class="link--block" href="/notepad">
                                <div class="content">
                                    <div class="content__box content__box--pad-half">Notepad</div>
                                </div>
                            </a>
                        </li>
                        <li class="list__item">
                            <a class="link--block" href="https://github.com/amsul?tab=repositories">
                                <div class="content">
                                    <div class="content__box content__box--pad-half">Projects</div>
                                </div>
                            </a>
                        </li>
                        <li class="list__item">
                            <a class="link--block" href="/me">
                                <div class="content">
                                    <div class="content__box content__box--pad-half">Me</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <aside class="menu__toggler alignright">
                <a class="menu__opener button-menu{% if page.name != "home" %} button-menu--inverse{% endif %}" href="#menu"></a>
                <a class="menu__closer button-menu{% if page.name != "home" %} button-menu--inverse{% endif %}" href="#"></a>
            </aside>
        </div> <!-- .menu -->

    {% endunless %}


    <header class="header{% if page.name != "home" %} header--colored{% endif %}">
        <div class="content">
            <div class="content__box content__box--pad-one">
                {% unless page.empty_page %}
                    <h1 class="header__wrapper title--base-size title--thin title--flat">
                        <a class="header__link header__link--{% if page.name != "home" %}dimmed title--dimmed{% else %}dark{% endif %}" href="#menu">
                            {% if page.name != "home" %}
                                {{ site.tagline | truncatewords: 3 | remove: '...' }}
                            {% else %}
                                {{ site.tagline }}
                            {% endif %}
                        </a>
                    </h1>
                {% endunless %}
                {% if page.title %}
                    <div class="header__title aligncenter">
                        {% if page.date %}
                            <p class="content__subtitle title--dimmed">{{ page.date | date: "%B %d, %Y" }}</p>
                        {% endif %}
                        {% if page.overview_page %}
                            <h1 class="title title--thin title--flat">{{ page.title }}</h1>
                        {% else %}
                            <h1 class="title title--thin title--flat">{% if page.x_post %}X-post: {% endif %}{{ page.title }}{{ page.title_suffix }}</h1>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </header> <!-- .header -->


    {{ content }}


    {% unless page.empty_page %}

        <footer class="footer gui-flip">
            <div class="content">
                {% if page.name != "home" %}
                    <div class="content__box content__box--flat">
                        {% if page.notepad_page and page.overview_page != true %}
                            <a class="button-block" href="/notepad">Back to notepad</a>
                        {% else %}
                            <a class="button-block" href="/">Back to home</a>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="content__box aligncenter">
                    <ul class="list--plain list--inline">
                        <li class="list__item">
                            <a class="button-cube" href="http://twitter.com/amsul_" target="_blank">
                                <span class="gui-icon gui-icon--twitter"></span>
                            </a>
                        </li><!--
                     --><li class="list__item">
                            <a class="button-cube" href="http://github.com/amsul" target="_blank">
                                <span class="gui-icon gui-icon--github"></span>
                            </a>
                        </li><!--
                     --><li class="list__item">
                            <a class="button-cube" href="mailto:reach@amsul.ca">
                                <span class="gui-icon gui-icon--email"></span>
                            </a>
                        </li>
                    </ul>
                    <p>&copy; {{ site.time | date: "%Y" }} Amsul</p>
                    <p class="peace">&#x270C;</p>
                    <p class="embrace">Embrace the randomness.</p>
                </div>
            </div>
        </footer> <!-- .footer -->

    {% endunless %}


    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34739744-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


</html>


