---
layout: base
---

<article class="content">
    <div class="content__box content__body">

        {% if page.external %}

            <p>
                <a
                    class="link--external"
                    href="{{ page.external_url }}"
                    title="Opens in a new window"
                    target="_blank"><!--
                 -->External post<!--
                 --><span class="link__icon"></span>
                </a>
            </p>

        {% else %}

            {{ content | emojify }}

            {% if page.postscript %}
                <footer class="content__postscript">
                    <h4>Footnotes</h4>
                    <ol>
                        {% for postscript in page.postscript %}
                            <li class="content__postscript-item" id="postscript_{{ forloop.index }}">
                                <a class="content__postscript-hook"
                                    href="#postscript_{{ forloop.index }}"
                                    name="postscript_{{ forloop.index }}"></a>
                                {{ postscript | markdownify | emojify }}
                            </li>
                        {% endfor %}
                    </ol>
                </footer>
            {% endif %}

        {% endif %}

    </div>
</article>

<aside class="content content--pad-bottom">
    <div class="content__box content__body" id="disqus_thread"></div>
</aside>
<script type="text/javascript">
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//amsul.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
