---
layout: base
---

<article class="content content--pad-bottom">
    <div class="content__box content__body">

        {% if page.external %}

            <p>
                <a
                    class="link--external"
                    href="{{ page.external_url }}"
                    title="Opens in a new window"
                    target="_blank"><!--
                 -->External post<!--
                 --><span class="link__icon"></span>
                </a>
            </p>

        {% else %}

            {{ content | emojify }}

            {% if page.postscript %}
                <hr>
                <footer class="content__postscript">
                    <ol>
                        {% for postscript in page.postscript %}
                            <li class="content__postscript-item">
                                <a class="content__postscript-hook" href="#postscript_{{ forloop.index }}"></a>
                                <p id="postscript_{{ forloop.index }}">{{ postscript }}</p>
                            </li>
                        {% endfor %}
                    </ol>
                </footer>
            {% endif %}

        {% endif %}

    </div>
</article>